#invis-input {
    background-color: #e1f88e;
    border-width: 1px;
}

#description {
    width: 100%;
    background-color: #e1f88e;
}

.hidden-input {
    display: none;
}

#hover-group:hover {
    background-color: #87CEFA;
}