ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: black;
    width: 200px;
}

#sidebar ul ul {
    background: transparent;
    width: auto;
    padding-left: 1rem;
}

#sidebar ul ul li {
    padding-left: 0.75rem;
}

#sidebar ul ul li.toc-level-2 {
    margin-left: 0.75rem;
}

#sidebar ul ul li.toc-level-3 {
    margin-left: 1.5rem;
}

ul li:hover{
    background-color: #87CEFA
}

#main {
    display: flex;
    flex-direction: row;
}

#sidebar {
    border-right: 3px solid red;
}

#content {
    flex: 1;
    margin: 5px;
    scroll-padding-top: 80px
}

#content h1,
#content h2,
#content h3 {
    scroll-margin-top: 90px;
}

#title {
    display: flex;
    flex-direction: row;
    background: green;
    position: sticky;
    top: 0;
    z-index: 100;
}

#Projekttitel {
    margin: 0 10px;
}
#Projektleiter {
    margin-left: auto;
}

#projekt-fehler {
    color: darkred;
    font-weight: bold;
}

#projekt-langbeschreibung h1,
#projekt-langbeschreibung h2,
#projekt-langbeschreibung h3 {
    margin-top: 1.2rem;
}

#Kommentar{
    background: transparent;
    border:  1px solid #ccc;
    outline: none;
}
#Kommentar:focus{
    background: white;
}